.p {
    font-weight: 100;
    text-align: center;
}

.h1 {
    font-size: 42px;
    text-align: center;
    font-weight: bold;
}

.aboutContainers {
    gap: 16px;
    margin: 16px 0;
    display: flex;
}

.aboutDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutPic {
    border-radius: 16px;
    height: 400px;
}

.detailsContainer {
    padding: 12px;
    flex: 1;
    background: white;
    border-radius: 16px;
    text-align: center;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    margin: 0 8px;
}

.mainContainer {
    display: flex;
    gap: 32px;
    height: 80%;
    width: 80%;
    margin: auto;
}

.picContainer {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

* {
    font-family:sans-serif;
}

.section {
    margin-top: 100px;
}

.icon {
    height: 30px;
    width: 30px;
    /* text-align: center; */
}