.slider {
    width: 75%;
    margin: auto;
}

.box {
    margin-top: 100px;
}

.project {
    border-radius: 12px;
    background-color: white;
    height: 450px;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 260px;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0 16px;
}

.button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: #e30d7c;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #e30d5b;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

.p {
    margin-top: 50px;
    font-weight: 100;
    text-align: center;
}

.h1 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.button a {
    text-decoration: none;
    color: white;
}